.lead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .lead {
        width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 984px;
    }
}